@import "../../scss/main";

.copyTrading {
  overflow: hidden;

  .copyTrading_main {
    padding-top: 5.5rem;
    padding-bottom: 4rem;
    position: relative;

    & > div,
    p {
      position: relative;
      z-index: 10;
    }

    .copyTrading_bg1 {
      position: absolute;
      top: -40%;
      left: 0;
      height: 120%;
      width: 100%;
      z-index: 0;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.71) 0.91%,
          rgba(255, 255, 255, 0.19) 51.56%,
          #ffffff 100%
        ),
        url("../../assets/bg.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(5px);
      background-position-x: center;
    }
    .copyTrading_bg2 {
      position: absolute;
      top: 30%;
      left: -20%;
      height: 120%;
      width: 150%;
      z-index: 0;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.71) 0.91%,
          rgba(255, 255, 255, 0.19) 51.56%,
          #ffffff 100%
        ),
        url("../../assets/bg.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(5px);
      background-position-x: center;
      transform: rotate(-7.85deg);

      @include xl {
        width: 200%;
      }

      @include md {
        transform: rotate(0deg);
      }
    }

    .copyTrading_lines {
      position: absolute;
      top: 17%;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      background: url("../../assets/main-horizontal-lines.png");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background-repeat: no-repeat;
    }

    & > p {
      color: $Body;
      width: 1310px;
      max-width: 90vw;
      margin: 0 auto;
    }
  }

  .copyTrading_content1 {
    width: 650px;
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;

    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      color: $Body;
    }
  }

  .copyTrading_steps {
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      grid-template-columns: 1fr;
    }
  }
  
  // .copyTrading_steps {
  //   width: 1024px;
  //   max-width: 90vw;
  //   margin: 0 auto;
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   gap: 2rem;
  //   margin-bottom: 4rem;

  //   @include lg {
  //     grid-template-columns: repeat(2, 1fr);
  //   }

  //   @include sm {
  //     grid-template-columns: 1fr;
  //   }
  // }

  .copyTrading_stepsBox {
    background: rgba(255, 255, 255, 0.51);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    border-radius: 1rem;
    padding: 2.5rem 2rem;
    text-align: center;

    @include md {
      padding: 2rem 1.5rem;
    }

    img {
      height: 5.5rem;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Manrope", sans-serif;
      line-height: 1.2;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 1rem;
    }

    p {
      color: $Body;
      font-weight: 500;
      font-family: "Manrope", sans-serif;
    }
  }
  
  .copyTrading_content {
    text-align: center;
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 4rem;

    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      color: $Body;
    }
  }

  .copyTrading_boxes {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 5.5rem;

    @include sm {
      width: 100vw;
      max-width: 100vw;
      overflow-x: auto;
      white-space: nowrap;
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding-left: 1rem;
      padding-right: 1rem;

      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .investmentBox {
    background-color: $Primary;
    margin-bottom: 8rem;
    h3,
    p {
      color: $White;
    }
  }
}


.copyTrading_box {
  height: 265px;
  width: 210px;
  max-width: 90vw;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1px);
  border-radius: 1rem;
  padding: 1.25rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    color: $Body;
    text-align: center;
  }

  @include sm {
    min-width: 210px;
  }
}
