@import "../../scss/main";

.rating_body {
  color: $Body !important;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $White;

  @include md {
    div, span {
      font-size: 12px;
    }
  }

  .dark-heading {
    color: inherit;
  }

  .rating_stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.16rem;
    margin-right: 1rem;

    @include sm {
      gap: 0.08rem;
      margin-right: 0.4rem;
    }
  }

  .rating_source {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
}
