@import "../../scss/main";

.partnership {
    .partnership_main {
        position: relative;
        padding-top: 5.5rem;
        padding-bottom: 4rem;

        & > div {
            position: relative;
            z-index: 10;
        }    

        .partnership_bg1 {
            position: absolute;
            top: -30%;
            left: 0;
            height: 150%;
            width: 100%;
            z-index: 0;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.71) 0.91%,
                rgba(255, 255, 255, 0.19) 51.56%,
                #ffffff 100%
                ),
                url("../../assets/bg.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(5px);
            background-position-x: center;
        }

        .partnership_bg2 {
            position: absolute;
            top: 40%;
            left: 0;
            height: 70%;
            width: 100%;
            z-index: 0;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.71) 0.91%,
                rgba(255, 255, 255, 0.19) 51.56%,
                #ffffff 100%
                ),
                url("../../assets/bg.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(5px);
            background-position-x: center;
        }

        .partnership_lines {
            position: absolute;
            top: 10%;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 0;
            background: url("../../assets/main-horizontal-lines.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }   
    
    .partnership_content {
        width: 730px;
        max-width: 90vw;
        margin: 0 auto;
        margin-bottom: 4rem;
        text-align: center;

        h2 {
            color: $Primary;
        }

        p {
            color: $Body;
        }
    }

    .partnership_offer {
        backdrop-filter: blur(3.5px);
        padding: 2.5rem 2rem;
        text-align: center;

        @include md {
            padding: 2rem 1.5rem;
        }
            
        img {
            height: 5.5rem;
            margin-bottom: 0.5rem;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 500;
            font-family: "Manrope", sans-serif;
            line-height: 1.2;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        p {
            color: $Body;
            font-weight: 500;
            font-family: "Manrope", sans-serif;
        }
    }

    .partnership_investmentBox {
        margin: 4.5rem 0;
    }

    .partnership_offerBoxes {
        width: 1124px;
        max-width: 90vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-bottom: 4rem;

        @include lg {
            grid-template-columns: repeat(2, 1fr);
        }

        @include sm {
            grid-template-columns: 1fr;
        }
    }

    .partnership_offerBox {
        background: rgba(255, 255, 255, 0.51);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3.5px);
        border-radius: 1rem;
        padding: 2.5rem 2rem;
        text-align: center;

        @include md {
            padding: 2rem 1.5rem;
        }

        img {
            height: 5.5rem;
            margin-bottom: 0.5rem;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 500;
            font-family: "Manrope", sans-serif;
            line-height: 1.2;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        p {
            color: $Body;
            font-weight: 500;
            font-family: "Manrope", sans-serif;
        }
    }
}