@import "../../scss/main";

.button {
 height: 3rem;
 padding: 0 1.9rem;
 border-radius: 3.125rem;
 border: none;
 outline: none;
 background-color: $CTA;
 color: $White;
 font-family: 'Inter', sans-serif;
 font-weight: 500;
 cursor: pointer;
 white-space: nowrap;

    &:hover {
        background-color: #008425;
    }

 @include md {
  height: 3rem;
  border-radius: 2.4rem;
  padding: 0 1.25rem;
 }

 @include sm {
  height: 2.5rem;
 }


}

.button_outline {
 background-color: transparent !important;
 border: 1px solid $White;
}

.button_body {
 color: $Body;
 border-color: $Body;
 border-width: 2px;
}