@import "../../scss/main";

.deposits {
  overflow: hidden;
  .deposits_main {
    position: relative;
    padding: 5.5rem 0 7.3rem 0;

    & > div {
      position: relative;
      z-index: 10;
    }

    .deposits_bg1 {
      position: absolute;
      top: -40%;
      left: 0;
      height: 120%;
      width: 100%;
      z-index: 0;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.71) 0.91%,
          rgba(255, 255, 255, 0.19) 51.56%,
          #ffffff 100%
        ),
        url("../../assets/bg.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(5px);
      background-position-x: center;
    }

    .deposits_bg2 {
      position: absolute;
      top: 25%;
      left: -15%;
      height: 110%;
      width: 150%;
      z-index: 0;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.71) 0.91%,
          rgba(255, 255, 255, 0.19) 51.56%,
          #ffffff 100%
        ),
        url("../../assets/bg.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      background-position-y: bottom;
      opacity: 0.8;
      transform: rotate(-7.85deg);

      @include md {
      transform: rotate(0deg);

      }
    }

    .deposits_lines {
     position: absolute;
     top: 20%;
     left: 0;
     height: 100%;
     width: 100%;
     z-index: 0;
     background: url("../../assets/main-horizontal-lines.png");
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     background-repeat: no-repeat;
   }
  }

  .deposits_textContainer {
    text-align: center;
    width: 470px;
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 4rem;

    h2 {
      line-height: 1.2;
      margin-bottom: 0.5rem;
    }

    p {
      color: $Body;
    }
  }

  .deposits_textContainer2 {
    width: 560px;
  }

  .deposits_textContainer3 {
    width: 570px;
  }

  .deposits_boxes {
    width: 1120px;
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 5.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    @include md {
      grid-template-columns: 1fr;
    }
  }

  .rating {
    margin-bottom: 5.5rem;
  }

  .earthBox {
   margin-bottom: 0;
  }
}

.deposits_methods {
  width: 1020px;
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.deposits_methodSpecStandard {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 80%;
    width: 4px;
    background-color: $Accent;
    transform: translateY(-50%);
    border-radius: 6rem;
  }
}

.deposits_method {
  background: linear-gradient(
    266.27deg,
    #ffffff -0.12%,
    rgba(255, 255, 255, 0) 107.72%
  );
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(3.5px);
  border-radius: 1rem;
  padding: 2.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include md {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .deposits_methodText {
    h3 {
      font-size: 2.5rem;
      font-weight: 700;
      color: $Body;
      font-family: "Gothic A1", sans-serif;
    }
  }

  .deposits_methodSubHeading {
    font-weight: 500;
    color: $Primary;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
  }

  .deposits_methodRecommended {
    display: flex;
    padding: 2px 0.5rem;
    align-items: center;
    gap: 0.3rem;

    font-size: 0.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: $Accent;
    border: 1px solid $Accent;
    border-radius: 3.125rem;
    border: 1px solid $Accent;

    img {
      height: 0.75rem;
    }
  }

  .deposits_methodSpecs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include md {
      width: 100%;
    }
  }

  .deposits_methodSpec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.5rem;
  }

  .deposits_methodSpecName {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    color: $Body;

    img {
      height: 1.125rem;
    }
  }

  .deposits_methodSpecValue {
    font-weight: 700;
    font-family: "Manrope", sans-serif;
    color: $Body;
  }
}
