@import "../../scss/main";

.tradingAccounts {
  .tradingAccounts_main {
    position: relative;

    .tradingAccounts_bg1 {
      position: absolute;
      top: -20%;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.71) 0.91%,
          rgba(255, 255, 255, 0.19) 51.56%,
          #ffffff 100%
        ),
        url("../../assets/bg.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(5px);
     
    }

    .tradingAccounts_bg2 {
      position: absolute;
      top: 10%;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.71) 0.91%,
          rgba(255, 255, 255, 0.19) 51.56%,
          #ffffff 100%
        ),
        url("../../assets/bg.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: top;
      filter: blur(5px);
    }

    // .tradingAccounts_lines {
    //   position: absolute;
    //   top: 10%;
    //   right: 0;
    //   height: 100%;
    //   width: 100%;
    //   z-index: 0;
    //   background: url("../../assets/main-horizontal-lines.png");
    //   background-repeat: no-repeat;
    //   background-size: cover;
    // }
    
    .tradingLines {
      position: absolute;
      z-index: 0;
      top: 10%;
      right: 0;
      width: 100%;
      opacity: 0.5;
    }

    & > div {
      position: relative;
      z-index: 10;
    }  
  }
  
  .tradingAccounts_text {
    width: 720px;
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 5.5rem;
    margin-bottom: 3.25rem;
    text-align: center;
    position: relative;
    z-index: 10;

    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      color: $Body;
    }
  }

  .tradingAccounts_tabs {
    display: flex;
    width: fit-content;
    max-width: 90vw;
    margin: 0 auto;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 4.2rem;
    justify-content: center;
    position: relative;
    z-index: 10;

    span {
      padding: 0.65rem 1.5rem;
      color: $Primary;
      border: 2px solid $Body;
      border-radius: 3.125rem;
      cursor: pointer;
      font-size: 0.875rem;
      font-weight: 500;
      font-family: "Inter", sans-serif;
      transition: all 0.2s;
    }

    span.active {
      background-color: $Primary;
      color: $White;
    }

    
    @include sm {
      max-width: 100vw;
      width: 100vw;
      overflow-x: auto;
      white-space: nowrap;
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding-left: 1rem;
      padding-right: 1rem;

      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .tradingAccounts_boxes {
    width: 1020px;
    max-width: 90vw;
    margin: 0 auto;
  }

  .tradingAccounts_boxes {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 8rem;
    z-index: 10;
    position: relative;
  }

  .tradingAccounts_box {
    position: relative;
    padding: 3rem;
    border-radius: 1rem;
    background: linear-gradient(
      266.64deg,
      #ffffff -0.18%,
      rgba(255, 255, 255, 0) 133.4%
    );
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(3.5px);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 50%;
      width: 4px;
      background-color: $Accent;
      border-radius: 6rem;
    }

    .tradingAccounts_boxLogo {
      position: absolute;
      right: 1.5rem;
      height: 12.5rem;
      top: -5rem;

      @include md {
        height: 7rem;
        top: -1rem;
        right: 0.6rem;
      }
    }

    .tradingAccounts_boxText {
      display: flex;
      gap: 0.3rem;
      align-items: center;
      margin-bottom: 0.25rem;
      margin-top: 20px;

      h6 {
        font-size: 1rem;
        font-weight: 500;
        color: $Primary;
      }
    }

    .tradingAccounts_boxStandard {
      padding: 2px 0.5rem;
      border: 1px solid $Accent;
      border-radius: 3.125rem;
      font-size: 0.5rem;
      font-weight: 500;
      font-family: "Inter", sans-serif;
      color: $Accent;
      line-height: 1;
      display: flex;
      align-items: center;

      img {
        height: 0.75rem;
        margin-right: 0.25rem;
      }
    }

    .tradingAccounts_boxMain {
      display: flex;
      align-items: center;

      @include lg {
        flex-direction: column;
        gap: 2rem;
      }
    }

    .tradingAccounts_boxContent {
      width: 60%;
      padding-right: 8%;

      @include lg {
        width: 100%;
      }

      h3 {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: "Gothic A1", sans-serif;
        color: $Body;
        margin-bottom: 1rem;
        line-height: 1.2;
      }

      p {
        color: $Body;
        line-height: 1.4;
        margin-bottom: 1.5rem;
      }
    }

    .tradingAccounts_boxButtons {
      display: flex;
      gap: 0.5rem;

      @include md {
        display: none;
      }
    }

    .tradingAccounts_boxButtons.mobile {
      width: 100%;
      flex: 1;
      display: none;

      @include md {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
      }
    }

    .tradingAccounts_specs {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @include lg {
        width: 100%;
      }
    }

    .tradingAccounts_spec {
      display: flex;
      justify-content: space-between;
    }

    .tradingAccounts_specName {
      display: flex;
      gap: 0.75rem;
      align-items: center;

      img {
        height: 1.125rem;
      }

      span {
        font-weight: 500;
        font-family: "Manrope", sans-serif;
        color: $Body;
      }
    }

    .tradingAccounts_specDetails {
      font-family: "Manrope", sans-serif;
      color: $Body;
      text-align: right;
      font-weight: 700;
    }
  }
}
