@import "../../scss/main";

.navbar {
  position: relative;
  padding: 1.75rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;

  span.navbar_bold {
    font-weight: 700 !important;
    text-decoration: underline;
  }

  @include xl {
    padding: 1.5rem 2rem;
  }

  @include md {
    padding: 1rem 1.25rem;
  }

  .navbar_logo {
    height: 4.2rem;
    cursor: pointer;

    @include md {
      height: 2.5rem;
    }
  }

  .menu {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 100%;
    }

    @include md {
      display: flex;
    }
  }

  .navbar_main {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2.5rem;

    @include lg {
      gap: 1rem;
    }

    span {
      cursor: pointer;
      color: $White;
      font-family: "Inter", sans-serif;
      font-weight: 500;
    }
  }

  .navbar_links {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    @include md {
      display: none;

      &.open {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $Primary_Bg;
        top: 60px;
        right: 0;
        padding: 1rem;
        width: 100%;
      }
    }


  }

  .navbar_buttonsContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @include lg {
      gap: 0.5rem;
    }

    @include sm {
      .login {
        display: none;
      }
    }
  }

  .navbar_language {
    height: 2rem;
    cursor: pointer;
  }
}
