@import "../../scss/main";

.calculator {
  overflow: hidden;

  .calculator_main {
    padding-top: 1.5rem;
    padding-bottom: 6rem;
    position: relative;

    & > div,
    p,
    form {
      position: relative;
      z-index: 10;
    }

    & > p {
      width: 720px;
      max-width: 90vw;
      margin: 0 auto;
      margin-bottom: 4rem;
      color: $Body;
      text-align: center;
    }

    .calculator_bg1 {
      position: absolute;
      top: 0;
      left: 0;
      height: 120%;
      width: 100%;
      z-index: 0;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.71) 0.91%,
          rgba(255, 255, 255, 0.19) 51.56%,
          #ffffff 100%
        ),
        url("../../assets/bg.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(5px);
      background-position-x: center;
    }

    .calculator_lines {
      position: absolute;
      top: 25%;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      background: url("../../assets/main-horizontal-lines.png");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background-repeat: no-repeat;
      background-size: cover;

      @include md {
        background-position: center;
      }
    }
  }

  .calculator_currencies {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 90vw;
    flex-wrap: wrap;
  }

  .calculator_form {
    width: 825px;
    max-width: 90vw;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.51);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 2rem;
    margin-bottom: 5.5rem;

    @include md {
      grid-template-columns: 1fr;
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &:first-child {
        button {
          @include md {
            display: none;
          }
        }
      }

      &:last-child {
        button {
          display: none;

          @include md {
            display: inline-block;
          }
        }
      }
    }
  }

  .calculator_startSteps {
    h2{
     
      max-width: 90vw;
      margin: 0 auto;
      margin-bottom: 4rem;
      text-align: center;

      @include md {
        font-size: 2rem;
      }
    }
  }

  .calculator_startStepsMain {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 4rem;

    @include md {
      gap: 2rem;
    }
  }

  .calculator_startStepsButton {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: $Body;
      margin-top: 0.25rem;
    }
  }
}
