@import "./main";

// font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

// font-family: 'Inter', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;900&display=swap");
// font-family: 'Gothic A1', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap");
// font-family: 'Manrope', sans-serif;

@font-face {
  font-family: 'CenturyGothic';
  src: url('../assets/fonts/CenturyGothic.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.7;
  font-family: 16px;
}

//general classes

//spacing classes
.mb-1 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mr-1 {
  margin-right: 1rem;
}

.heading-1 {
  font-style: bold;
  font-size: 3.5rem;
  color: $White;
  line-height: 1.2;
  font-family: "CenturyGothic", sans-serif;

  @include lg {
    font-size: 2.5rem;
  }

  @include md {
    font-size: 2rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "CenturyGothic", sans-serif;
  margin: 0;
  line-height: 1.2;

  @include lg {
    font-size: 2rem;
  }

  @include md {
    font-size: 1.5rem;
  }
}

.text-primary {
  color: $Primary !important;
}

.accent {
  color: $Accent;
}

.body-large {
  font-size: 1.125rem;
  font-weight: 400;
  color: $White;
  line-height: 1.5rem;

  @include lg {
    font-size: 1rem;
  }
}

.dark-heading {
  font-size: 1rem;
  font-weight: 700;
  color: $White;
}
