@import "../../scss/main";

.faq {
    .faq_main {
        position: relative;
        padding-top: 5.5rem;
        padding-bottom: 4rem;

        & > div {
            position: relative;
            z-index: 10;
        }    

        .faq_bg1 {
            position: absolute;
            top: -30%;
            left: 0;
            height: 150%;
            width: 100%;
            z-index: 0;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.71) 0.91%,
                rgba(255, 255, 255, 0.19) 51.56%,
                #ffffff 100%
                ),
                url("../../assets/bg.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(5px);
            background-position-x: center;
        }

        .faq_bg2 {
            position: absolute;
            top: 40%;
            left: 0;
            height: 70%;
            width: 100%;
            z-index: 0;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.71) 0.91%,
                rgba(255, 255, 255, 0.19) 51.56%,
                #ffffff 100%
                ),
                url("../../assets/bg.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(5px);
            background-position-x: center;
        }
    }   
    
    .faq_content {
        width: 1120px;
        max-width: 90vw;
        margin: 0 auto;
        margin-bottom: 4rem;
        text-align: center;

        h2 {
            color: $Primary;
            text-align: left;
            font-size: 30px;
        }

        p {
            color: $Body;
        }
    }
}